li {
  position: relative;
  overflow: hidden;
}

li > a {
  display: block;
  border-radius: inherit;
}

li > a::before {
  border-radius: inherit;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}